<h1>Sameer here</h1>
<div>{{name}}</div>
<div>{{age}}</div>

<login>this is login</login>
<app-sign-up> hello </app-sign-up>
<app-profile> hello </app-profile>
<button (click)="handleClick()">Click Me</button>

<div>{{count}}</div>
<button (click)="handleIncrement()">Increment</button>
<button (click)="handleReset()">Reset</button>
<button (click)="handleDecrement()">Decrement</button>

<div>{{inputValue}}</div>
<input type="text" (input)="handleOnChange($event)" name="user">

<input type="text" value="{{education}}" #emailInput>
<button (click)="getEmail(emailInput.value)">get EMail</button>
<div>{{providedEmail}}</div>



<!-- @if(false){
<p>Condition is true</p>
} @else if(true){
<p>Condition is false</p>
} -->


@switch (color) {
@case('red'){
<p style="background-color: red;">Color is red</p>
}
@case ('green') {
<p style="background-color: green;">Color is green</p>
}
@case ('blue') {
<p>Color is blue</p>
}
@default {
<p>Color is not red, green, or blue</p>
}
}

@for (item of arr; track item ; let i = $index) {
<!-- <p>{{item}}</p> -->
<button (click)="getValue(item)">{{i + 1}} {{item}}</button>
}

<div>{{countSignal()}}</div>
<button (click)="countSignal.set(200)">Changed Count signal</button>

@if(displayHeading){
<div>hello this is display heading</div>
}

<div>For loop contextual </div>
@for (user of users; track $index; let i = $index; let f= $first; let l = $last) {
<!-- <div>This is our {{$index}} {{user}}</div> -->
<div>{{$first}}</div>
<div>This is our {{i}} {{user}}</div>
@if($first || $last){
<div style="background-color: rebeccapurple;">This is out first element</div>
}
@if ($even ||$odd) {
<div>this is out even and odd result</div>
}
<div>total items is {{$count}}</div>
}
@empty {
<div>No record found</div>
}

<!-- Two way binding in Angular -->
<input [(ngModel)]="studentName" type="text" name="studentName" id="">

<div>Here is the student Name: {{studentName}}</div>

<!-- ################################ TODO TASK ####################################  -->

<div>
  <input type="text" placeholder="Enter your task" [(ngModel)]="task" name="task">;
  <button (click)="handleAdd()">Add Task</button>
</div>


<!-- dynamic styling  -->
 <div [style.backgroundColor]="red">This is text red</div>


 <!-- directive  -->
  <!-- refer to login.html template  -->